.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-contained {
  background-color: transparent !important;
}
.MuiButton-label {
  color: black;
}

/* .MuiBottomNavigationAction-wrapper {
  color: white;
} */

.one {
  width: 30px;
  height: 30px;

  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  /* background-color: #fff; */
  border-color: #55b776;
}

/* .oneTwo {
  color: #7d7d7d;
} */
.submit1 {
  color: red !important;
}

.MuiAppBar-colorPrimary {
  background-color: rgb(238, 47, 76) !important;
}
.MuiBottomNavigation-root {
  bottom: 0 !important;
  position: fixed;
  width: 100%;
  background-color: rgb(238, 47, 76) !important;
}
.MuiBottomNavigationAction-root {
  color: rgb(255, 255, 255) !important;
}
a.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  background-color: rgb(2, 119, 87) !important;
  margin-bottom: 10px;
  color: rgb(255, 255, 255) !important;
}
.MuiListItemIcon-root {
  color: rgb(255, 255, 255) !important;
}
.gridB {
  background-color: rgb(33, 36, 38);
  margin-top: 10px;
}
.MuiTypography-h6 {
  color: wheat;
}
.gridA {
  background-color: rgb(2, 119, 87);
  color: rgb(255, 255, 255);

  margin-top: 10px;
  text-align: "center";
}
body {
  background-color: rgb(33, 36, 38) !important;
}
.MuiTypography-h5 {
  color: rgb(255, 255, 255);
}
