.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-contained {
  background-color: transparent !important;
}
.MuiButton-label {
  color: black;
}

/* .MuiBottomNavigationAction-wrapper {
  color: white;
} */

.one {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  /* background-color: #fff; */
  border-color: #55b776;
}

/* .oneTwo {
  color: #7d7d7d;
} */
.submit1 {
  color: red !important;
}

.MuiAppBar-colorPrimary {
  background-color: rgb(238, 47, 76) !important;
  /* position: fixed !important; */
}
.MuiBottomNavigation-root {
  bottom: 0 !important;
  /* position: fixed; */
  /* width: 100%; */
  background-color: rgb(238, 47, 76) !important;
}
.MuiBottomNavigationAction-root {
  color: rgb(255, 255, 255) !important;
}
a.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  background-color: rgb(2, 119, 87) !important;
  margin-bottom: 10px;
  color: rgb(255, 255, 255) !important;
}
.MuiListItemIcon-root {
  color: rgb(255, 255, 255) !important;
}
.gridB {
  background-color: rgb(33, 36, 38);
  margin-top: 10px;
}
.MuiTypography-h6 {
  color: rgb(255, 255, 255);
}
.gridA {
  /* background-color: rgb(2, 119, 87); */
  color: rgb(255, 255, 255);

  /* margin-top: 10px; */
  text-align: "center";
}
body {
  background-color: rgb(33, 36, 38) !important;
}
.MuiTypography-h5 {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
}

/* .MuiBottomNavigation-root {
  bottom: 0 !important;
  position: fixed;
  width: 100%;
  background-color: #3f51b5 !important;
} */
@media (max-width: 768px) {
  /* mobile devices */
  .fDown {
    display: none !important;
  }
  .MuiAppBar-colorPrimary {
    top: 0px !important;
    position: fixed !important;
    width: 100% !important;
  }
  .MuiBottomNavigation-root {
    bottom: 0 !important;
    position: fixed !important;
    width: 100% !important;
  }
  .allContent {
    margin-top: 60px !important;
    margin-bottom: 71px !important;
  }
  .MuiStepContent-root {
    padding-right: 0px !important;
  }

  .tContent {
    /* scroll-behavior: auto !important;
    height: 200px !important; */
  }
  /* .MuiStepper-vertical {
    overflow-y: auto !important;
  } */

  /* .modelDiv {
    display: none !important;
  } */

  /* .MuiTab-root {
    min-width: "100%" !important;
  } */
  /* .tt {
    display: none;
  } */
  /* .MuiBottomNavigation-root {
    position: fixed;
    width: 40% !important;
  }
  .imgSet {
    padding-left: 10px;
  } */
  /* .MuiAppBar-colorPrimary {
    width: 40% !important;
  } */
}
@media (min-width: 768px) {
  /* for desktop */
  .viewTicketClass {
    display: none !important;
  }
  /* .modelDiv {
    display: none !important;
  } */
  .MuiAppBar-root {
    top: 0px !important;
    width: 41.666667% !important;
    left: 0 !important;
    /* position: fixed !important; */
  }
  .MuiBottomNavigation-root {
    bottom: 0 !important;
    position: fixed !important;
    width: 41.666667% !important;
  }
  .allContent {
    margin-top: 65px !important;
    margin-bottom: 71px !important;
  }
}

/* for ticket */

/* .l1 {
  font-style: italic;
  font-weight: 900 !important;
}
.l2 {
  font-weight: 700 !important;
}
.l4 {
  font-weight: 500 !important;
  color: white !important;
}
.l3 {
  font-style: italic;
  color: white;
  font-weight: 700 !important;
}

.l5 {
  font-weight: 500 !important;
  font-size: xx-large !important;
}
.l6 {
  font-size: large !important;
  font-weight: 600 !important;
} */
/* .l7 {
  font-size: large !important;
  font-weight: 400 !important;
} */

.incBtn {
  background-color: rgb(253, 205, 170) !important;
  color: white !important;
  margin: 2px !important;
}
.desBtn {
  background-color: rgb(174, 224, 174) !important;
  margin: 2px !important;
}
/* @media (min-width: 600px) {
  .MuiTab-root {
    min-width: 100px !important;
  }
} */

.inpText {
  width: 50px !important;
  max-height: 32px !important;
}
.MuiOutlinedInput-multiline {
  padding: 9px !important;
}
.MuiOutlinedInput-input {
  padding: 9px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scoreBtn1 {
  padding-right: 8px !important;
}
.scoreBtn4 {
  padding-right: 23px !important;
}
.wktBtn4 {
  padding-right: 8px !important;
}
/* @media (min-width: 600px) {
  .MuiAppBar-colorPrimary {
    width: 100% !important;
  }
  .MuiBottomNavigation-root {
    width: 100% !important;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  .MuiAppBar-root {
    top: 0px !important;
    width: 100% !important;

    left: 0 !important;
    /* position: fixed !important; */
  }
  .MuiBottomNavigation-root {
    bottom: 0 !important;
    width: 100% !important;
  }
  .viewTicketClass {
    display: block !important;
  }
  .fDown {
    display: none !important;
  }
}
